html,
body {
  height: 100%;
}
#mapid {
  height: 100%;
}
.full_height {
  height: 100%;
}

#btn_refresh, #saveBtn {
  background: #ffdd2d !important;
  color: #333;
  border: 1px solid #ffdd2d !important;
}
#btn_refresh:hover, #saveBtn:hover {
  background: #fcc521 !important;
  color: #333;
  border: 1px solid #fcc521 !important;
}
