html,
body {
  height: 100%;
}
#mapid {
  height: 100%;
}
.full_height {
  height: 100%;
}

#btn_refresh, #saveBtn {
  background: #ffdd2d !important;
  color: #333;
  border: 1px solid #ffdd2d !important;
}
#btn_refresh:hover, #saveBtn:hover {
  background: #fcc521 !important;
  color: #333;
  border: 1px solid #fcc521 !important;
}
#objVal {
  position: relative;
}
#inprogress-container {
  position: absolute;
  margin: 55px 0 0 200px;
}
#inprogress-spinner i {
  color: #fcc521 !important;
}
#inprogress-ok i {
  color: #22a053 !important;
}
.loading {
  opacity: .3;
  pointer-events:none
}
.tooltip .arrow::before {
  border-right-color: #ffdd2d !important;
}
.tooltip-inner {
  background: #ffdd2d !important;
  color: #333;
}